@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

:focus {
    outline: rgb(131, 174, 0) auto 5px;
}

main {
    flex: 1;
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* HELPERS */

.background-yellow {
    background-color: #ebe7c3;
}

.background-darkviolet {
    background-color: #37477d;
}

.font-weight-500 {
    font-weight: 500;
}

.text {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.7;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.image-container {
    text-align: center;
    margin-bottom: 3rem !important;

}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.h200 {
    height: 200px;
}

.h200img img {
    height: 200px;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/*HEADER*/
.top-site {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    font-size: 14px;
}

.top-site .flex {
    display: flex;
}

.logo-text {
    font-weight: 500;
}

.top-timetable p {
    margin-bottom: 0px;
    line-height: 25px;

}

.top-contacts a {
    color: #000;
}

.top-contacts a:hover {
    color: #37477d;
}

.top-contacts .contact {
    display: flex;
    line-height: 25px;
    align-items: center;
}

.top-contacts .contact img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.navigation {
    background: #37477d;
    z-index: 1000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none
}

a, a:hover, a:focus {
    text-decoration: none;
}

/* SIDEBAR CATALOG */
#sidebar-catalog-content {
    font-size: 14px;
}

.sidebar-catalog-content, .sub-menu {
    list-style: none;
    line-height: 2.5em;
}

.sidebar-catalog-content a {
    color: #000000;
    display: block;
    position: relative;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;

}

.sidebar-catalog-content .caret, .sidebar-title .caret {
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.sidebar-catalog-content a[aria-expanded="true"] .caret, .sidebar-title[aria-expanded="true"] .caret {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.sidebar-catalog-content a[aria-expanded="false"] .caret, .sidebar-title[aria-expanded="false"] .caret {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.sidebar-catalog-menu-item:hover, .sidebar-catalog-menu-item.active, .sidebar-catalog-menu-item:not(.collapsed) {
    color: #37477d;
}


.sidebar-catalog-content li {
    border-bottom: 1px solid #eaeaea;
}

.sidebar-catalog-content li:last-child {
    border-bottom: 0px;
}

.sidebar-catalog-content .sub-menu {
    padding-left: 20px;

}

.sidebar-catalog-content .sub-menu li {
    position: relative;
}

.sidebar-catalog-content .sub-menu li:hover::before, .sidebar-catalog-content .sub-menu li.active::before {
    border-radius: 50%;
    background-color: rgb(55, 71, 125);
    position: absolute;
    left: -15px;
    top: 15px;
    width: 6px;
    height: 6px;
    display: block;
    content: '';
}

.sidebar-catalog-menu-item .caret {
    position: absolute;
    top: 15px;
    right: 0;
}

.sidebar-title {
    text-align: center;
    background: #f5f5f5;
    color: #000000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    #sidebar-catalog-content {
        display: block;
    }

    .sidebar-title {
        display: none;
    }
}

/* FOOTER */
.footer {
    color: white;
    line-height: 1.7;
    text-align: center;
}

.footer-phones a {
    display: block;
    color: white;
}

.footer-menu a {
    display: block;
    color: white;
    line-height: 2.5;
}

.footer a:hover {
    color: #ebe7c3;
}

.author-site {
    background-color: #a8aec1;
    color: #37477d;
    padding: 10px;
}

.author-site a, .author-site a:hover {
    color: #37477d;
    text-decoration: underline;
}

.author-site p {
    margin-bottom: 0px;
}

/* PAGES */

.page-title {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 0.933;
    text-align: center;
}

.page {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

/* -- Main page */
/* -- -- Main Layer */
.main-layer {
    background-image: url("../images/layer.png");
    padding: 130px 0;
    background-size: cover;
}

.main-layer-subtitle {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 600;
    line-height: 1.2;

}

/* -- -- Main Catalog */
.сatalog-grid {
    position: relative;
}

/* STYLE 1 */
.сatalog-grid.style-1 .caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    right: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    height: 40px;

}

.сatalog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Style 2*/
.сatalog-grid.style-2 {
    height: 200px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.сatalog-grid.style-2 .caption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

.сatalog-grid.style-2 .caption .link a {
    color: white;
}

.content dl, .content ol, .content ul {
    padding-left: 40px;
}

.price-container .button {
    margin: 15px;
}

/* GRID */

.grid-item {
    margin-bottom: 15px;
}

.grid-item .image {
    text-align: center;
}

.grid-item .image img {
    width: 100%;
    object-fit: cover;
    height: 140px;

}

.grid-item .caption {
    text-align: center;
    padding: 15px 10px;
    color: #000000;
    font-size: 14px;
}

.grid-item .params {
    text-align: center;
    padding: 0px 10px;
    color: #000000;
    line-height: 1.5em;
    font-size: 12px;
}

.grid-item .params p {
    margin-bottom: 0;
}

.contacts address, .contacts .phones, .contacts .mail {
    padding-left: 30px;
    position: relative;
}

.contacts address:before, .contacts .phones:before, .contacts .mail:before {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.contacts address:before {
    background-image: url("../images/icons/map.png");

}

.contacts .phones:before {
    background-image: url("../images/icons/phone_green.png");

}

.contacts .mail:before {
    background-image: url("../images/icons/mail.png");

}

.contacts a {
    color: black;
}

.contacts a:hover {
    color: #37477d;
}

/* Palette */

.palette {
    margin: 0 -10px;
}

.color {
    margin: 10px;
    height: 77.5px;
    width: 77.5px;
    display: inline-block;
}

/* blog posts */
.posts .media {
    margin-bottom: 50px;
}

.posts .media .h5{
   font-size: 20px;
}

.post-thumbnail {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.post-content h1, .post-content h2 {
    font-size: 20px;
    font-weight: 500;
}

.post-content h3 {
    font-size: 18px;
    font-weight: 500;
}

.post-content h4 {
    font-size: 16px;
    font-weight: 500;
}

.post-content h5 {
    font-size: 14px;
    font-weight: 500;
}

.post-content h6 {
    font-size: 12px;
    font-weight: 500;
}

/* UI = buttons */

.page-item span {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.page-item span:hover {
    opacity: 0.5;
}

.page-item span:before {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;

}

.page-item.first span:before {
    background: url("./../images/icons/first.png");
}

.page-item.prev span:before {
    background: url("./../images/icons/prev.png");
}

.page-item.next span:before {
    background: url("./../images/icons/next.png");
}

.page-item.last span:before {
    background: url("./../images/icons/last.png");
}

.page-item.disabled {
    filter: grayscale(1);
}

.page-item.disabled .page-link {
    border-color: transparent;
}

.page-link {
    position: relative;
    padding: inherit;
    line-height: 1;
    color: #84b000;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px !important;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.page-link:focus, .page-link:hover, .page-link:active {
    outline: none;
    box-shadow: none;
}

.page-item.active .page-link {
    border: 1px solid #84b000;
    background: transparent;
    color: #84b000;

}

.page-link:hover {
    z-index: 2;
    color: #84b000;
    text-decoration: none;
    background-color: transparent;
    border-color: #84b000;
}

.button-green {
    background-image: linear-gradient(0deg, rgb(107, 143, 0) 0%, rgb(120, 160, 0) 33%, rgb(132, 176, 0) 100%);
}

.button-green.outline {
    background-image: none;
    border: 1px solid rgb(107, 143, 0);
    color: rgb(107, 143, 0);
}

.button-green:hover {
    background-image: -moz-linear-gradient(96deg, rgb(128, 170, 0) 0%, rgb(130, 173, 0) 33%, rgb(132, 176, 0) 100%);
    background-image: -webkit-linear-gradient(96deg, rgb(128, 170, 0) 0%, rgb(130, 173, 0) 33%, rgb(132, 176, 0) 100%);
    background-image: -ms-linear-gradient(96deg, rgb(128, 170, 0) 0%, rgb(130, 173, 0) 33%, rgb(132, 176, 0) 100%);
}

.button {
    border: 1px solid transparent;
    border-radius: 25px;
    width: auto;
    height: auto;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    transition: all 200ms ease;
    min-width: 200px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.button.small {
    padding: 5px 15px;
    min-width: auto;
}

.more-link {
    color: #82ae00;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, #82ae00 50%);
    background-size: 210% 100%;
    background-position: left bottom;
    padding: 5px 40px 5px 25px;
    position: relative;
    border: none;
    border-radius: 50px;
    height: 30px;
    display: inline-block;
    transition: all 200ms ease;
    line-height: 1.2em;
}

.more-link:hover {
    color: white;
    background-position: right bottom;
}

.more-link:after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('./../images/icons/more.png');
}

.filters {
    display: flex;
}

.custom-control {
    margin-right: 10px;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(131, 174, 0, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #82ae00;
}

.custom-radio .custom-control-label::before {
    border-radius: 0%;
}

.custom-control-label {
    cursor: pointer
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #82ae00;
    border-color: #82ae00;
    background-color: #fff;
}

.custom-control-label::before {
    position: absolute;
    top: 4px;
    left: -20px;
    display: block;
    width: 15px;
    height: 15px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: 7px;
    left: -17px;
    display: block;
    width: 9px;
    height: 9px;
    content: "";
    background-size: 50% 50%;
}

.sidebar-catalog-list .custom-control-label::after {
    top: 13px;
}

.sidebar-catalog-list .custom-control-label::before {
    top: 10px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #82ae00;
    background-image: none;
}

/* SLICK SLIDER */
.slick-slider {
    padding: 0px 30px;
}

.slick-initialized .slick-slide {
    padding: 10px;
}

.slick-slider .slide {
    height: 150px;
    border: 1px solid #ccc;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-arrow {
    position: absolute;
    border: 1px solid #ebe7c3;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebe7c3;
    top: 40%;
    transition: all 200ms ease;
    cursor: pointer;
}

.slick-arrow:hover {
    background: #84b000;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

/* Responsive */
@media (max-width: 767px) {
    .contacts .mail  {
        margin-bottom: 30px;
    }
    .media {
        flex-direction: column;
    }

    .media img {
        margin-bottom: 15px;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .sidebar-catalog-content{
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .post-thumbnail {
        float: left;
        width: 50%;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footer {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .top-site {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }

}

/* TESTS на продакшн можно удалить (плейсхолдеры) */

.Rectangle_7 {
    background-color: rgb(235, 231, 195);
    margin: auto;
    width: 100%;
    height: 286px;
}
