
#cssmenu .first-level {
    text-align: center;
}

.navbar-toggle {
    background: transparent;
    border: none;
    margin: 10px 0px;
}

#cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    transition: all .25s ease;

}

#cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu > ul > li {
    display: inline-block;
}

#cssmenu > ul > li > a {
    padding: 15px 10px;
    font-size: 14px;

    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #fff
}

#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
    color: #ebe7c3 !important;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 16px;
    right: 14px;
    display: block;
    background-image: url("../images/icons/menu.png");
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;

}

#cssmenu > ul > li.has-sub:hover > a:before {
    transform: rotateZ(90deg);
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    z-index: 10;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #37477d;
    transition: all .25s ease
}

#cssmenu ul ul li:hover {
    background: #2c3963 !important;
}

#cssmenu li:hover > ul {
    left: auto;

}

#cssmenu li:hover > ul > li {
    height: auto;
    transition: all .25s ease

}

#cssmenu li > ul > li:first-child {
    border-radius: 10px 10px 0px 0px;
}

#cssmenu li > ul > li:last-child {
    border-radius: 0px 0px 10px 10px;
}

#cssmenu ul ul {
    padding-top: 10px;
}

#cssmenu ul ul ul {
    padding-top: 0px;
    padding-left: 10px;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 15px 35px 15px 15px;
    width: auto;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
    white-space: nowrap;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    background-image: url("../images/icons/menu.png");
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;
    display: block;
    content: '';
    transform: rotateZ(90deg);
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:after {
    transform: rotateZ(0deg);

}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #2c3963 !important;
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #333
}

html.md-less #mobilemenu, html.md-less #mobilemenu.collapse {
    height: 0;
    overflow: hidden;
}

html.md-less #mobilemenu.collapse.show {
    height: auto;
    overflow: visible;

}

.button-mobile {
    display: none;
}

@media screen and (max-width: 767px) {

    .top-contacts .contact {
        justify-content: center;
    }

    .top-contacts {
        margin: 15px 0px;
    }

    .top-site {
        text-align: center;
        display: block !important;
    }

    .button-mobile {
        display: block;
    }

    .top-actions {
        margin-top: 15px
    }

    #cssmenu li > ul > li:first-child {
        border-radius: 0px;
    }

    #cssmenu li > ul > li:last-child {
        border-radius: 0px;
    }

    #cssmenu ul ul ul {
        padding-left: 0px;
    }

    #cssmenu .first-level {
        text-align: left;
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

    #cssmenu ul {
        width: 100%;
        /*display: none*/
    }

    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #656565
    }

    #cssmenu ul ul li, #cssmenu li:hover > ul > li {
        height: auto
    }

    #cssmenu ul li a, #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }

    #cssmenu > ul > li {
        float: none
    }

    #cssmenu ul ul li a {
        padding-left: 25px
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px
    }

    #cssmenu ul ul, #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }

    #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }

    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }

    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}

@media screen and (max-width: 991px) {
    #cssmenu > ul > li > a {
        padding: 10px 7px;
    }
}